.myName {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 3px 3px 3px rgb(176, 231, 201);
  padding-top: 5px;
  margin-bottom: -30px;
  color: lightblue;
}

.name {
  font-size: 32px;
  color: lightblue;
}
.tiny {
  padding-left: 70px;
}

.nav-link {
  font-size: 20px;
  padding-top: 30px;
  color: lightblue;
}

@media only screen and (max-width: 600px) {
  i {
    font-size: 20px;
  }
}
